# list and accessing
## List is iterable,

In [1]:
l = ["shirin", "noosh"]

In [4]:
l[1]

'noosh'

In [5]:
l.append("ali") #inplace on the original, poit list inplace not to create a copy

In [6]:
l

['shirin', 'noosh', 'ali']

In [7]:
l.extend(["azam","mohamad"]) #to add a list at the end

In [8]:
l

['shirin', 'noosh', 'ali', 'azam', 'mohamad']

In [10]:
l.insert(1, 'syed') #not efficient

In [11]:
l

['shirin', 'syed', 'syed', 'noosh', 'ali', 'azam', 'mohamad']

In [14]:
l.pop() #from end, so efficient

'azam'

In [13]:
l

['shirin', 'syed', 'syed', 'noosh', 'ali', 'azam']

In [15]:
l.pop(1) #not effitient

'syed'

In [16]:
l

['shirin', 'syed', 'noosh', 'ali']

In [17]:
l.remove("shirin")

In [18]:
l

['syed', 'noosh', 'ali']

In [21]:
del l[0:2]

In [22]:
l

[]

# Common operations

In [26]:
l1 = [1,2,3]
l2= [4,5,6, 6,6,7]
l1 + l2

[1, 2, 3, 4, 5, 6, 6, 6, 7]

In [24]:
l1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
l1.index(2)

1

In [27]:
l2.count(6)

3

In [28]:
l1[::-1] #a new list is created

[3, 2, 1]

In [32]:
l1.reverse() #in place

In [33]:
reversed(l1) #return an iterator

In [34]:
l1.sort() #inplace

In [36]:
sorted(l1) #not in place

[1, 2, 3]

# Tuple
## list like list but not mutable!

In [41]:
#tricky for interview, tuple with len 1, dont forget comma!
t = (1)

In [42]:
type(t)

int

In [43]:
t1 = (1,)
type(t1)

tuple

In [44]:
#immutable, the pointer is impputable but the pointing item if its mutalbr then yu can change iy
my_tumple = (1,2,3, (4,5), [88,9], 'str')

In [45]:
my_tumple[4][0] = 98

In [46]:
my_tumple

(1, 2, 3, (4, 5), [98, 9], 'str')

In [47]:
t2 = (1,2,3,4)

In [48]:
t2[1:3]

(2, 3)

In [49]:
#possibility of usage in dictionary key
{(1,2): 'ji'}

{(1, 2): 'ji'}

## common operations

In [50]:
t1

(1,)

In [51]:
t2

(1, 2, 3, 4)

In [52]:
t1 + t2

(1, 1, 2, 3, 4)

In [54]:
t1 *2

(1, 1)

In [55]:
sorted(t2) #sorted roo har chi the betoone beshmare (iterable)

[1, 2, 3, 4]

In [56]:
reversed(t2)

In [57]:
tuple(reversed(t2))

(4, 3, 2, 1)

# Dicionary

In [58]:
shirin = {
    'age': 27,
    'feild': "SE",
    2: 'Iran',
}

## 1. Keys are unique n should be hashable, immutable
## 2. dict unorderd, no indexing
## 3. usage: mapping 
## 4. values can be anythingv

In [62]:
shirin.get('city', 0)

0

In [63]:
shirin.keys()

dict_keys(['age', 'feild', 2])

In [65]:
for key in shirin.keys():
    print(key)

age
feild
2

In [66]:
list(shirin.values())

[27, 'SE', 'Iran']

In [67]:
list(shirin.items())

[('age', 27), ('feild', 'SE'), (2, 'Iran')]

In [68]:
#update
shirin['age'] = 29

In [69]:
shirin

{'age': 29, 'feild': 'SE', 2: 'Iran'}

In [70]:
shirin.update(city='tehran', religion='islam')

In [71]:
shirin

{'age': 29, 'feild': 'SE', 2: 'Iran', 'city': 'tehran', 'religion': 'islam'}

In [72]:
shirin.pop(2)

'Iran'

In [73]:
shirin

{'age': 29, 'feild': 'SE', 'city': 'tehran', 'religion': 'islam'}

In [74]:
shirin.popitem() #remove the last item

('religion', 'islam')

In [75]:
shirin

{'age': 29, 'feild': 'SE', 'city': 'tehran'}

In [78]:
shirin.setdefault('country', 'Canada') #if not in dict add, but if it is do not vhange the val 
# ~ to 
if "country" not in shirin:
    shirin["country"] = 'Canada'

In [77]:
shirin

{'age': 29, 'feild': 'SE', 'city': 'tehran', 'country': 'Canada'}